<div class="main">
  <div class="container">
        <h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p> 
 
    <h1>Hello my name is Nicky Bram</h1>
    <p>I make Rails apps better.</p>
  </div>
</div>